
body{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
}

#first-section{
  background-image: url("../images/homesection.jpg");
  height:100%;
  color:#e9f1f3;
}

#second-section{
background-image: unset;
}

#third-section{
  background-image: url("../images/services.jpg");
  height: 100%;
  color:#e9f1f3;
}

#fourth-section{

}

#fifth-section{

}
#sixth-section{
  background-image: url("../images/contact.jpg");
  height: 100%;
  color:#e9f1f3;
}
#contact-Form{
  background-color: transparent;
}
#nameInput{
  border: 1px solid grey;
  padding:3px;
}
#emailInput{
  border: 1px solid grey;
  padding:3px;
}
/* #portfolio{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} */
.col-md-3 {
  margin-top: 10px;
  vertical-align: middle;
  padding:0 8px;
}
.col-md-3 img{
  padding: 4px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#detailsOne{
display: none;
}
#detailsTwo{
display: none;
}
#detailsThree{
display: none;
}
/* .imageText{
  background-color: red;
} */