
body{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

#first-section{
  background-image: url("../images/homesection.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:scroll;
  background-size: 100% 100%;
  width:100%;
  color:#e9f1f3;
  padding-bottom: 100px;
  padding-top: 500px;
}

#second-section{
background-image: unset;
}

#third-section{
  background-image: url("../images/services.jpg");
  height: 100%;
  color:#e9f1f3;
}
#pImageOne, #pImageTwo, #pImageThree, #pImageFour, #pImageFive, #pImageSix, #pImageSeven, #pImageEight{
  width:150px;
  height:100px;
  margin:auto;
  padding:50px;
  border:7px solid #e9f1f3;
  display:none;
}

#sixth-section{
  background-image: url("../images/contact.jpg");
  height: 100%;
  color:#e9f1f3;
}
#contact-Form{
  background-color: transparent;
}
#nameInput{
  border: 2px solid #e9f1f3;
  padding:3px;
  background:transparent;
  color:#e9f1f3;
}
#emailInput{
  border: 2px solid #e9f1f3;
  padding:3px;
  background:transparent;
  color:#e9f1f3;
}
#comment{
  border: 2px solid ;
  padding-bottom: 10px;
  background:transparent;
  color:#e9f1f3;
}
.col-md-3 {
  margin-top: 10px;
  vertical-align: middle;
  padding:0 8px;
}
.col-md-3 img{
  padding: 4px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#detailsOne{
display: none;
}
#detailsTwo{
display: none;
}
#detailsThree{
display: none;
}
#submit{
  border: 1px solid ;
  border-radius: 6px;
  background-color:#2596be;
  color:#e9f1f3;
}